.sidebar-trigger {
  position: absolute;
  top: 10px;
  transition: left 0.20s;
}

.sidebar-collapsed .sidebar-trigger {
  left: 80px; /* Aligns with collapsed sidebar width */
}

.trigger-button {
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); */
  border-radius: 4px; /* Rounded corners only on right side */
  height: 40px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.trigger-button .anticon {
  font-size: 12px;
  margin-left: -2px;
}

@media (max-width: 768px) {
  .sidebar-trigger {
    top: 16px;
    transform: none;
    left: 16px !important;
  }
  
  .trigger-button {
    border-radius: 4px;
    width: auto;
  }
}