/* Equipment.css - стили для страницы оборудования */
.ant-equipment-container {
    padding: 8px 24px 0px 52px;
    max-width: 1600px;
    width: 98%;
    margin: 0 auto;
    animation: fadeIn 0.5s ease-out;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  
.ant-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 16px;
  }

  /* Add these styles to your existing Employees.css file */
.equipment-breadcrumb {
    margin-bottom: 24px;
    font-size: 15px;
  }
  
.equipment-breadcrumb a {
    color: #0AB101;
    transition: color 0.3s;
  }
  
.equipment-breadcrumb a:hover {
    color: #078800;
  }
  