/* Общие стили контейнера */
.ant-tools-container {
  padding: 8px 24px 0px 52px;
  max-width: 1600px;
  margin: 0 auto;
  animation: fadeIn 0.5s ease-out;
}
  
  /* Стили для хлебных крошек */
  .tools-breadcrumb {
    margin-bottom: 16px;
  }
  
  